@model BugTrackerApplication.Models.ProjectAssignViewModel

@{
    ViewBag.Title = "AssignUsers";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Assign Users
            <small>Assign users role here.</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "ApplicationUsers")</li>
            <li class="active">Assign</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(p => p.Id);

            @Html.ListBoxFor(p => p.SelectedUsers, Model.UserList);

            <input type="submit" value="Submit!" />
        }
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->